page-login {
    ion-content {
        background-color:color($colors, bground) !important;
    }

    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .bgbuttonlogin{
        background-color:rgb(255, 84, 82)
    }
}
