page-datacenterdetail {
    ion-content {
        background-color:color($colors, gray) !important;
        background-image: url('../assets/imgs/background-footer.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-clip: content-box;        
    }
    .toolbar-background,.toolbar-background-md{
        background-color:color($colors, bground) !important;
        
    }
    .toolbar-title,.toolbar-title-md{
        color:white !important;
        
    }    
    
    .bar-button {
        color:white !important;
    }

    ion-list {
        border: color($colors, gray) thin solid;
        border-radius: 4px;
        margin:10px !important;
    }

    ion-avatar{
        border-right: color($colors, gray) thin solid;
    }
}
