<!--
  Generated template for the PickfloorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Floor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list *ngFor="let data of floor">

      
        <!-- Disabled button item with left and right buttons -->
        <button ion-item disabled>
          <button ion-item item-start>
            <ion-icon name="md-albums"></ion-icon>
            Floor Level {{data.floor_level}}
          </button>
        </button>
        <!-- Item with an avatar on the left and button on the right -->
        
        <!-- Item with a thumbnail on the right -->
        <ion-item *ngFor="let sector of data.sector">
          <h2>Sector {{sector.sector_name}}</h2>
          <p  *ngIf="sector.is_used==0" style="color:brown;"><ion-icon name="md-close"></ion-icon> Not Available</p>
          <p  *ngIf="sector.is_used==1" style="color:green;"><ion-icon name="md-done-all"></ion-icon> Available</p> 
          <button ion-button item-end *ngIf="sector.is_used==1" (click)="viewRack(sector.id_dacen,sector.id_sector,sector.id_floor)">
             View Rack&nbsp;<ion-icon name="ios-arrow-forward-outline"></ion-icon>
          </button>                 
        </ion-item>
      
        <!-- Sliding item -->
       
      
      </ion-list>
</ion-content>
