<ion-header>
  <ion-navbar>

      <img src="assets/imgs/logo.png" style="width: 10%; display: block ;float: left;">
    <ion-title>
      DASHBOARD
    </ion-title>
    <ion-buttons end> <button ion-button menuToggle><ion-icon name="md-settings" style="color:white;"></ion-icon> </button> </ion-buttons>   
</ion-navbar>
</ion-header>

<ion-content>  
         
  <div class="segment-1">
      <ion-slides class="to-top" pager>
 
          <ion-slide *ngFor="let data of dacen">
              <img src="{{baseURL}}files/dc/{{data.dacen_img}}" alt=""  tappable (click)="viewDataCenterDetail(data.id_dacen)">
          </ion-slide>
 
        </ion-slides>
    <div class="footer-segment-1">
      <div class="footer-segment-1-div" tappable (click)="viewDataCenter()">
          <img src="assets/imgs/btn-dt.png" alt="" ><br><div>Data Center</div>
      </div>
      <div class="footer-segment-1-div" tappable (click)="viewAvailability()">
          <img src="assets/imgs/btn-av.png" alt="" ><div>Availability</div>
      </div>
      <div class="footer-segment-1-div" tappable (click)="viewHistory()">
          <img src="assets/imgs/btn-hi.png" alt="" ><div>History</div>
      </div>
    </div>     
  </div>
  <button ion-button full (click)="viewAssist()">Need Assistance ?</button>  
  <div class="segment-2">
        <div class="loading-div" *ngIf="isLoading">
                <img src="../assets/imgs/loading.gif" />
        </div>
      <!-- <ion-list *ngIf="!isLoading">
          <ion-list-header>
            Overview Data Center
          </ion-list-header>
          <ion-item *ngFor="let data of dacen">
              <ion-avatar item-start>
                  <img src="assets/imgs/server.png">
                </ion-avatar>
            {{data.dacen_name}}
          </ion-item>
      </ion-list>   -->
      <ion-list>
        <ion-list-header>
            Overview Data Center
        </ion-list-header>
      </ion-list>      
      <ion-card *ngFor="let data of dacen; let i = index" [style.background-image]="'url(' + baseURL + 'files/dc/' + dacen[i].dacen_img + ')'" tappable (click)="viewDataCenterDetail(dacen[i].id_dacen)">
        <ion-card-header>
          {{dacen[i].dacen_name}}
        </ion-card-header>
        <table>
            <tr>
              <td>Space</td>
              <td>:</td>
              <td>{{dacen[i].dacen_space}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>:</td>
                <td>{{dacen[i].name}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>:</td>
                <td>{{dacen[i].city_name}}</td>
            <!-- </tr>                  
            <tr>
                <td>Available Rack</td>
                <td>:</td>
                <td>{{dacen[i].rack}}</td>
            </tr>                   -->
  
          </table>
    </ion-card>      
  </div>
</ion-content>
