<!--
  Generated template for the AlacartePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Additional Service</ion-title>
  </ion-navbar>
</ion-header>


<ion-content #Content>
   
    <ion-card>
        <ion-card-header>
          Total Pricing
        </ion-card-header>
        <ion-list>
            <ion-item>
              <p>Total Rack Price For <strong>{{totalRack}}</strong> Rack</p>
              <h4 style="font-weight:bold;">{{totalPay | currency:"IDR":true:"1.0"}}</h4>
            </ion-item>
    
            <ion-item>
              <p>Setup Fee For <strong>{{totalRack}}</strong> Rack</p>
              <h4 style="font-weight:bold;">{{totalSetup | currency:"IDR":true:"1.0"}}</h4>
            </ion-item>
          
      
        </ion-list>
      </ion-card>

    <ion-card>
        <ion-card-header>
           Booking Commit Type
        </ion-card-header>
        <ion-list radio-group 
        [(ngModel)]="id_rackstatus_current"  
        (ngModelChange)='rackStatusChange()' 
        name="id_rackstatus_current"
        required>
            <ion-item>
                <ion-label>Committed Booking
                  <p><small>Dedicated for booking data center</small></p>
                </ion-label>
                <ion-radio value="3"></ion-radio>
            </ion-item>
    
            <ion-item  class="item item-text-wrap">
              <ion-label style="white-space: wrap;">Uncommitted Booking 
                <p style="white-space: wrap;"><small>Undedicated for booking data center</small></p>
              </ion-label>
              <ion-radio value="4"  (checked)="checked"></ion-radio>
            </ion-item>
          
    
          
          
            <ion-item *ngIf="commit">
                <ion-label>Commit Days</ion-label>
                <ion-select [(ngModel)]="commitday" >
                  <ion-option value="3" selected>3 Days</ion-option>
                  <ion-option value="7">7 Days</ion-option>
                  <ion-option value="14">14 Days</ion-option>
                  <ion-option value="21">21 Days</ion-option>
                  <ion-option value="30">30 Days</ion-option>
                </ion-select>
            </ion-item>       
        </ion-list>
      </ion-card>

      <ion-card *ngFor="let data of alacarte">
        <ion-list class="red-back">
          <ion-item>
            <ion-label>{{data.alacarte_type}}</ion-label>
            <ion-checkbox [(ngModel)]="id_alacarte[data.id_alacarte]" (ngModelChange)='alacarteStatusChange($event,data.id_alacarte)'></ion-checkbox>
          </ion-item>
        </ion-list>      
      </ion-card>

      <ion-card  >
          <ion-list *ngIf="isother">
              <ion-item>
                  <ion-label color="primary" stacked>Other</ion-label>
                  <ion-textarea type="text" placeholder="Other" [(ngModel)]="note_additional"></ion-textarea>
              </ion-item>
          </ion-list>  
        </ion-card>

      <!-- <ion-card *ngFor="let data of alacarteType">
          <ion-card-header text-wrap>
              {{data.alacarte_type}}
          </ion-card-header>
          <ion-list radio-group 
          [(ngModel)]="id_alacartetype[data.id_alacartetype]" 
          name="id_alacartetype[]"
          required 
          (ngModelChange)='priceAlacarteType(data.alacarte[0].id_alacarte,data.alacarte[1].id_alacarte,data.id_alacartetype)'>
              <ion-item text-wrap>
                  {{data.question}}
                </ion-item>
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="{{data.alacarte[0].id_alacarte}}"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio value="{{data.alacarte[1].id_alacarte}}" (checked)="checked"></ion-radio>
                </ion-item>
                <ion-item-divider>
                   
                  </ion-item-divider>  
          </ion-list>
      </ion-card> -->

    
      <!-- <ion-card *ngFor="let data of alacarte2">
          <ion-card-header text-wrap>
              {{data.alacarte_type}}
          </ion-card-header>
          <ion-list radio-group *ngFor="let data1 of data.alacarte" 
          [(ngModel)]="id_alacarte[data1.id_alacarte]" 
          required 
          (ngModelChange)='priceAlacarte(data1.id_alacarte)'>
              <ion-item text-wrap>
                  Do you need "{{data1.alacarte_type}}" to managed {{data1.alacarte_name}} ?
                </ion-item>
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="{{data1.id_alacarte}}"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio value="0" (checked)="checked"></ion-radio>
                </ion-item>
                <ion-item-divider>
                   
                  </ion-item-divider>  
          </ion-list>
      </ion-card> -->
 
      

   
      
   
</ion-content>
<ion-footer>
    <ion-toolbar>
      
    <ion-buttons left>
        <button ion-button icon-start (click)="toBack()">
            <ion-icon name="md-arrow-back"></ion-icon>
            Back
          </button>
          </ion-buttons>
          <ion-buttons right>
          <button ion-button icon-end (click)="doSubmit()">
            Next
            <ion-icon name="md-arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>

    
</ion-footer>